body{
    background-image: url("../images/img1234.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
li a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
}


 .active-link{
    color: #ffc107;
}

 li a:hover{
    color: #ffc107;
}

input{
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #eee;
 
}

input:focus{
    outline: 1px solid black;
}

.err{
    background-color: #ff3842;
    padding: 10px;
    color: #fff;
    width: 100%;
    margin-top: 10px;

}




@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }